body {
    min-height: 100vh;
    background-color: #222;
    font-family: monospace;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    color: #ffffff;
}

.card > * {
    font-size: 40px;
    text-shadow:
        0 0 4px #000,
        0 0 4px #000,
        0 0 4px #000,
        0 0 4px #000;
    position: relative;
    z-index: 2;
}

.card:hover {
    scale: 1.05;
}

.card {
    text-decoration: none;
    background-color: #333;
    margin: 5px;
    line-height: 0;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    display: grid;
    grid-template-columns: 100px 2fr 2fr;
    & .textLevel,
    .textPublisher {
        text-align: left;
    }
    & .firstVictor {
        text-align: right;
    }

    border: 2px solid black;
}

.container {
    display: flex;
    align-items: center;
    & .textPublisher {
        font-size: 16px;
        margin-left: 16px;
    }
}

.card.platformers {
    grid-template-columns: 100px 1fr 1fr 2fr;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.8);
    transform: scale(1.1);
    z-index: -1;
}

.contents {
    gap: 20px;
    align-items: center;
    text-align: center;
}

.list {
    margin: 0;
}

.abouts {
    display: grid;
    grid-template-columns: 100px 2fr 2fr;
    width: 1180px;
    font-size: 20px;
    background-color: #333;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;

    & .firstnivictor {
        text-align: right;
    }
}

.options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    & button {
        width: 140px;
        height: 30px;
    }
    gap: 10px;
}

h1 {
    font-size: 70px;
    line-height: 0;
}

h3 {
    line-height: 0.5;
    font-size: 30px;
}

h4 {
    line-height: 0;
}

.NIDL {
    & img {
        position: absolute;
        left: 20px;
        top: 30px;
        width: 200px;
    }
    & p {
        position: absolute;
        left: 40px;
        top: 0px;
    }
}
